<div class="start-p full-screen bg-img">
	<% flash.each do |key,value| %>
      <div class="flash"><%= value %></div>
    <% end %>
	<hgroup>
		<h2>Welcome to TDlist</h2>
		<h3>Do you want to sort the list of cases?</h3>
	</hgroup>
		<%= render "sessions/auth" %>
</div>
