<div class="tdlist">
    <p ng-bind-html="errors" class="err"></p>
    <div class="row">
        <div class="col-md-12">
            <a href="#/new"><span class="glyphicon glyphicon-plus-sign"> Do you want to add task?</span></a>
        </div>
    </div>
    <hr/>
    <div ng-repeat="message in data">
        <div class="row">     
            <div class="col-md-1">
                <a href="" id="done" ><span class="glyphicon glyphicon-thumbs-up"></span></a>
            </div>
            <div class="col-md-2"> 
            </div>
            <div class="col-md-6">
                 <a id="ttl" href ="" ng-click="update({{ message }})">{{ message.title }}<span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1"> 
                <a id="rm" href="" ng-click="destroy({{ message.id }})"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <p class="dscrpt">{{ message.description }}</p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div class="time">
                    <p>created at:<span class="date create">{{ message.updated_at | date:'medium' }}</span></p>
                </div>
            </div>
            <div class="col-md-6">
                <a href="" ng-click="done({{ message }})">done:
                    <progress id="done" value="{{ message.done }}" max="100"></progress>  
                    <span>{{ message.done }}</span>%
                </a>        
            </div>
        </div>
        <hr/>
    </div>
</div>
