<footer class="-m-txt-none">
	<nav>
		<ul class="-m-nav ">
			<li><%= link_to "About",    '#' %></li>
            <li><%= link_to "Contacts", '#' %></li>
		</ul>
	</nav>
	<p id="rights">All rights reseived © 2014 by Motenko Oleg</p>
</footer>
