<header class="-m-txt-none">
      <%= link_to "TDlist", '#', id: "logo" %>
      <nav>
        <ul class="-m-nav ">
			<% if signed_in? %>
		      <li><%= link_to "Home", current_user %></li>
		      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
		    <% else %>
		  	  redirect_to '/'
		  	<% end %>
        </ul>
      </nav>
</header>